/SGP_WEB/nbproject/private/
/SGP_JAVA/nbproject/private/
/SGP_Java/nbproject/private/
/Deporte/nbproject/private/
/SGP_WEB/build/
/SgpJava/nbproject/private/
/SgpJava/build/
/SGP_WEB/dist/
/SGP_Portafolio/nbproject/private/
/SGP_Portafolio/build/
/Test/nbproject/private/
#prueba